.profile {
  display: flex;
  align-items: center;
}

.profile__image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-top: 40px;
  margin-right: 30px;
}
.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 16px 0;
  width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__edit {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  background-image: url(../images/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}
.profile__edit:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__edit-image {
  width: 10px;
  height: 10px;
}
.profile__text {
  display: flex;
  flex-direction: column;
}
.profile__text-button {
  display: flex;
  align-items: baseline;
}
.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}
.profile__add {
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  min-width: 150px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-image: url(../images/Add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}
.profile__add:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__add-image {
  width: 22px;
  height: 22px;
}
@media screen and (max-width: 880px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
  .profile__title {
    max-width: 196px;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin: 26px 0 14px 0;
  }
  .profile__edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }

  .profile__add {
    margin: 36px 0;
    min-width: 282px;
  }
  .profile__description {
    margin: 0 auto;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    min-width: 282px;
    max-width: 320px;
  }
  .profile__image {
    margin-right: 0;
  }
  .profile__text-button {
    margin: 0 auto;
  }
}
